#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Apply the Roboto font to all text */
body {
	font-family: 'Roboto', sans-serif;
	color: #3a3f52;
}

/* Center align the h1 and h2 elements and make h2 smaller */
h1, h2 {
	font-family: 'Raleway', sans-serif;
	margin-top: 2rem; /* Changed from 30px */
	padding: 0.625rem 0; /* Changed from 10px */
	font-size: 2.5rem; /* Adjust based on h1 size requirements, changed from 30px */
	letter-spacing: .05em;
	line-height: 1.5;
	font-weight: 800;
}

h2 {
	font-size: 2.25rem; /* Make h2 slightly smaller than h1, adjust based on requirements */
}

h6 {
	font-family: 'Raleway', sans-serif;
	color: #3a3f52;
	font-size: 1rem; /* Changed from 16px */
	letter-spacing: .05em;
	line-height: 1.5;
	font-weight: 400;
	margin-bottom: 1.5625rem; /* Changed from 25px */
	text-align: center;
	margin: 0;
	padding: 0.625rem 0; /* Changed from 10px */
}

/* Text styling for unique cases */
.text-above::before {
	content: '';
	display: block;
	height: 0.3125rem; /* Changed from 5px for a more subtle effect */
}


/* CHATBOT */

.search-container {
	font-family: monospace;
	border-radius: 25px;
	box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.15);
	background-image: url('https://i.ibb.co/8dPtsbP/1-2.png');
	text-align: center;
	display: flex;
	flex-flow: column;
	overflow: hidden;
	height: 100%;
	min-height: 50vh;
	min-width: 8.75rem; /* Changed from 140px */
	margin: 2.5rem; /* Changed from 40px */
}

.header {
	padding: 1.25rem; /* Changed from 20px */
	text-align: center;
	color: rgb(255, 255, 255);
	max-height: 3.625rem; /* Changed from 58px */
	font-size: 1rem; /* Changed from 16px */
	font-weight: bold;
	background-color: #002f50;
}

/* Messaging styles */
.messages {
	width: 100%;
	height: 25rem; /* Changed from 400px */
	overflow: auto;
	outline: none;
	display: flex;
	flex-direction: column;
	padding: 0.625rem 0; /* Changed from 10px */
}

.message-container {
	width: 100%;
}

.bot-message, .user-message {
	float: left; /* Default align to left */
	padding: 0.9375rem 1.25rem; /* Changed from 15px 20px */
	margin: 5px;
	border-radius: 20px;
	background: #ffffff;
	color: rgb(0, 0, 0);
	min-width: 40px;
	border: 0.3px solid rgb(141, 140, 140);
	max-width: 25rem; /* Changed from 400px */
}

.user-message {
	float: right; /* Align user messages to right */
	background: rgba(229, 241, 248, 0.7);
	color: black;
}

.input {
	position: relative;
	background-image: url('https://i.ibb.co/8dPtsbP/1-2.png');
	outline: none !important;
}


.input > form > input[type="text"] {
	font-family: monospace;
	font-size: 1rem; /* Changed from 16px */
	border: 0.3px solid rgb(141, 140, 140);
	border-radius: 25px;
	box-shadow: none;
	box-sizing: border-box;
	opacity: 1;
	outline: none;
	padding: 0.5rem; /* Changed from fixed px values */
	width: 90%;
	-webkit-appearance: none;
}

/* CHATBOT END */

.navbar {
   z-index: 1;   /*A high value to ensure it's above other elements */
    position: relative; /* Needed for z-index to work correctly */
}

.dropdown-content {
    z-index: 1001; /* Ensures the dropdown is above the navbar itself */
}

/* Custom color for chatbot background */
.bg-custom {
    background-color: #E5F1F8 !important;
}
/* Text below the bot FAQ */
.section-heading {
  font-family: 'Raleway', sans-serif;
  margin-top: 3.125rem; /* Changed from 50px */
  padding: 0.625rem 0; /* Changed from 10px */
  font-size: 1.875rem; /* Changed from 30px */
  letter-spacing: .05em;
  line-height: 1.5;
  font-weight: 800;
  margin-bottom: 3.125rem; /* Changed from 50px */
}


/* Media Queries for responsive design */
@media (max-width: 768px) {
	.navbar {
		padding: 0 20px; /* More suitable for smaller screens */
	}

	h1, h2 {
		font-size: 1.5rem; /* Smaller font size for smaller screens */
	}

	.chatbot {
		margin: 1.25rem; /* Smaller margin for smaller screens */
	}

	.messages {
		height: 20rem; /* Adjusted for smaller screens */
	}

	.text-above {
		padding-left: 2rem; /* Adjusted for smaller screens */
	}

	.navbar-menu, .navbar-header {
		margin-left: 5%; /* Adjusted for smaller screens */
		margin-top: 2rem; /* Adjusted for smaller screens */
	}

	.nav-item {
		margin-right: 1rem; /* Smaller space between nav items for smaller screens */
	}


  .section-heading {
    font-size: 1.5rem; /* Smaller font size for smaller screens */
  }

  .answer-block {
    min-width: 10rem; /* Smaller min-width for smaller screens */
  }
}

